@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full min-h-screen;
}
body {
  @apply h-full min-h-screen;
}
#root {
  @apply h-full min-h-screen;
}

.card {
  @apply bg-reroute-card shadow-card rounded-xl p-6;
}

/* Override default form styles for dark mode */
input,
select,
textarea {
  @apply bg-reroute-card text-white border-reroute-gray placeholder-gray-400;
}

/* Hide scrollbars */
.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
